<h1 class="title">{{title}}</h1>
<h3 class="header">{{header}}</h3>
{{#item}}
<p>First Name: {{this.firstName}}</p>
<P>Last Name: {{this.lastName}}</p>
<p>Username: {{this.username}}</p>
<p>Email Address: {{this.email}}</p>
<p>Description: {{this.description}}</p>
<p>Location: {{this.location}}</p>
{{/item}}
<button class = "button"><a href="/profile/edit">Edit Profile</a></button>
