<h1>Timeline</h1>
<ol class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  <p>{{this.image}}</p>
  <p>{{this.author}}</p>
  <p>{{this.description}}</p>
  {{!-- <p>{{this.date}}</p> --}}
  {{/each}}
</ol>

{{!-- <ul class = "login">
{{#each user}}
<li>{{this.username}}</li>
{{/each}}
</ul> --}}

<button class = "button"><a class="new-post-link" href="/posts/new">New post</a></button>
<button class = "button"><a class="delete-link" href="/posts/delete">Delete post</a></button>

